{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'title.homepage'|trans|raw }}</h1>
        <div>
            <img src="{{ asset('assets/images/top-main-illust.png') }}" alt="logotip">
        </div>
    </div>
{% endblock %}
