{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% for post in paginator.results %}
        {{ include('blog/_post.html.twig') }}
    {% else %}
        <div class="jumbotron">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

    {% if paginator.hasToPaginate %}
        {% include 'common/pagination/pagination.html.twig' %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {{ include('blog/_rss.html.twig') }}
{% endblock %}
