{% block footer %}
    <footer class="page-footer">
        <div class="container">
            <div class="row footer-menu-block">
                <div id="footer-menu" class="col-md-8 offset-2">
                    <div class="row">
                        <div class="col-4">
                            <ul class="list-unstyled">
                                <li>О блоге</li>
                                <li>О блоге</li>
                                <li>О блоге</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="list-unstyled">
                                <li>О блоге</li>
                                <li>О блоге</li>
                                <li>О блоге</li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="list-unstyled">
                                <li>О блоге</li>
                                <li>О блоге</li>
                                <li><a href="{{ path('blog_rss', app.request.query.all) }}">
                                        <i class="fa fa-rss" aria-hidden="true"></i> {{ 'menu.rss'|trans }}
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="footer-copyright" class="col">
                    <p>&copy; {{ 'now'|date('Y') }} - The YASB Project {{ 'mit_license'|trans }}</p>
                </div>
                <div class="col">
                    <p>
                        <a href="https://twitter.com/symfony" title="Symfony Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://symfony.com/blog/" title="Symfony Blog">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}